In [1]:
import pandas as pd

In [2]:
import sys
import pandas as pd

print(f"Python Path: {sys.executable}")
print(f"Python Version: {sys.version.split()[0]}")
print(f"Pandas Version: {pd.__version__}")

Python Path: /Users/sai/Code/.venv/bin/python
Python Version: 3.12.3
Pandas Version: 2.3.3

In [16]:
lst = [1, 4, 6, 2]
target = 8
a_lst = [target - i for i in lst]
index_lst = [lst.index(i) for i in lst if (i in a_lst and lst.index(i)!=a_lst.index(i))]

In [17]:
index_lst

[2, 3]

In [ ]:
#Replace all ______ with rjust, ljust or center. 

thickness = int(input(5)) #This must be an odd number
c = 'H'

#Top Cone
for i in range(thickness):
    print((c*i).______(thickness-1)+c+(c*i).______(thickness-1))

#Top Pillars
for i in range(thickness+1):
    print((c*thickness).______(thickness*2)+(c*thickness).______(thickness*6))

#Middle Belt
for i in range((thickness+1)//2):
    print((c*thickness*5).______(thickness*6))    

#Bottom Pillars
for i in range(thickness+1):
    print((c*thickness).______(thickness*2)+(c*thickness).______(thickness*6))    

#Bottom Cone
for i in range(thickness):
    print(((c*(thickness-i-1)).______(thickness)+c+(c*(thickness-i-1)).______(thickness)).______(thickness*6))

In [ ]:
''

In [1]:
print('hello')

hello

In [4]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [ ]:
width = 4
list('hello')[:width].

AttributeError: 'list' object has no attribute 'join'

In [9]:
list('hello')[3]

'l'

In [12]:
import textwrap

In [13]:
textwrap.fill('ABCDEFGHIJKLIMNOQRSTUVWXYZ', 4)

'ABCD\nEFGH\nIJKL\nIMNO\nQRST\nUVWX\nYZ'

In [ ]:
n, m = map(int, input().split())

In [7]:
from collections import defaultdict
dict_a = {"apple": 2}
dict_b = defaultdict(int)
dict_b["apple"] = 3
dict_b["banana"]

0

In [8]:
dict_a['banana']

KeyError: 'banana'

In [9]:
dict_b["banana"]

0

In [6]:
dict_b

defaultdict(None, {'apple': 3})

In [10]:
from collections import defaultdict

index_map = defaultdict(list)
group_A = ['a', 'a', 'b', 'a', 'b']
# Build the map of positions
for idx, val in enumerate(group_A):
    index_map[val].append(idx)

In [11]:
index_map

defaultdict(list, {'a': [0, 1, 3], 'b': [2, 4]})

In [16]:
'1          97         Raymond    7 '.split()

['1', '97', 'Raymond', '7']

In [18]:
a = map(int, "12")

In [23]:
"12".split()

['12']

In [24]:
from collections import OrderedDict
ordered_dictionary = OrderedDict()
ordered_dictionary['a'] = 1
ordered_dictionary['b'] = 2
ordered_dictionary['c'] = 3
ordered_dictionary['d'] = 4
ordered_dictionary['e'] = 5

In [26]:
ordered_dictionary['a'] = 10

In [27]:
ordered_dictionary

OrderedDict([('a', 10), ('b', 2), ('c', 3), ('d', 4), ('e', 5)])

In [28]:
ordinary_dictionary = {}
ordinary_dictionary['a'] = 1
ordinary_dictionary['b'] = 2
ordinary_dictionary['c'] = 3
ordinary_dictionary['d'] = 4
ordinary_dictionary['e'] = 5

In [29]:
ordinary_dictionary['a'] = 10

In [30]:
ordinary_dictionary

{'a': 10, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [33]:

list(map(str, 'BANANA FRIES 12'.split()))

['BANANA', 'FRIES', '12']

In [36]:
' '.join(['BANANA', 'FRIES', '12'][:-1])

'BANANA FRIES'

In [37]:
ne_dict = {2: [2, 3, 4], 1: [3, 7, 8]}

In [44]:
total = 0
for j in ne_dict.values():
    print(j)
    total=total + sum(j)

[2, 3, 4]
[3, 7, 8]

In [45]:
total

27

In [48]:
from collections import Counter
from collections import defaultdict


od = defaultdict(list)

In [49]:
od['c'].append(5)

In [50]:
od

defaultdict(list, {'c': [5]})

In [51]:
od['c'].append(10)

In [52]:
od

defaultdict(list, {'c': [5, 10]})

In [60]:
string_a = '12bdc'
''.join([string_a[0].upper(), string_a[1:]])

'12bdc'

In [61]:
string_a

'12bdc'

In [63]:
"  chris   alan  ".split(' ')

['', '', 'chris', '', '', 'alan', '', '']

In [69]:
a_lst = [1, 3, 2, 4, 2, 6 ,8]

In [71]:
students = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]

In [72]:
scores = [i[1] for i in students]
names = [i[0] for i in students]

In [76]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [84]:
sorted(students, key=lambda x: x[1], reverse=True)

[['Akriti', 41],
 ['Harsh', 39],
 ['Harry', 37.21],
 ['Berry', 37.21],
 ['Tina', 37.2]]

In [85]:
scores = sorted({score for name, score in students})
second_lowest = scores[1]

In [88]:
[score for name, score in students]

[37.21, 37.21, 37.2, 41, 39]

In [92]:
print(all(i>0 for i in [1, 2, 8, 12, -1]))

False

In [93]:
'hello world'[::-1]

'dlrow olleh'

In [94]:
'454'[::-1]

'454'

In [95]:
'123'[::-1]

'321'

In [ ]:
def fibonacci(n):
    # return a list of fibonacci numbers
    fibonacci_lst = []
    def find_fibonacci(n):
        if n == 0:
            return 0
        elif n == 1:
            return 1
        else:
            return find_fibonacci(n-2) + find_fibonacci(n-1)
    for _ in range(n):
        fibonacci_lst.append(find_fibonacci(n))
    return fibonacci_lst

In [121]:
import pandas as pd
import numpy as np


df = pd.DataFrame(np.arange(20).reshape(4, 5), columns=["A", "B", "C", "D", "E"])
df.loc[1, 'A'] = np.nan
df.loc[2, 'B'] = np.nan
df.loc[3, 'A'] = np.nan

In [129]:
df[~df['A'].isnull()]

      A    B   C   D   E
0   0.0  1.0   2   3   4
2  10.0  NaN  12  13  14

In [133]:
df

      A     B   C   D   E
0   0.0   1.0   2   3   4
1   NaN   6.0   7   8   9
2  10.0   NaN  12  13  14
3   NaN  16.0  17  18  19

In [ ]:
df[df['A'].isnull() & df['E']==9]

Empty DataFrame
Columns: [A, B, C, D, E]
Index: []

In [138]:
mask = np.where((df['A'].isnull()) & (df['E']==9))

NameError: name 'df' is not defined

In [148]:
df.loc[mask, df['B']=22]

SyntaxError: cannot assign to subscript here. Maybe you meant '==' instead of '='? (3421193504.py, line 1)

In [2]:
import pandas as pd

df = pd.DataFrame({
    "user_id": [1, 2, 3, 4, 5],
    "age": [25, 32, 40, 28, 35],
    "country": ["Germany", "France", "USA", "Germany", "France"],
    "score": [88, 76, 95, 82, 91]
})

In [4]:
mask = (df['country'].isin(['Germany', 'France'])) & (df['score'] > 80)
df[mask][['user_id', 'score']]

   user_id  score
0        1     88
3        4     82
4        5     91

In [5]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    "user_id": [1, 2, 3, 4, 5],
    "signup_date": ["2023-01-01", None, "2023-03-15", None, "2023-05-01"]
})

In [6]:
df

   user_id signup_date
0        1  2023-01-01
1        2        None
2        3  2023-03-15
3        4        None
4        5  2023-05-01

In [7]:
df['signup_date'].isnull().sum()

np.int64(2)

In [9]:
df['signup_date'] = df['signup_date'].fillna('2022-01-01')

In [11]:
import pandas as pd

df = pd.DataFrame({
    "price_euro": [100, 200, 50, 80],
    "tax_rate_percent": [19, 7, 19, 0]
})

In [12]:
df

   price_euro  tax_rate_percent
0         100                19
1         200                 7
2          50                19
3          80                 0

In [13]:
df['price_with_tax'] = df['price_euro'] * (1 + df['tax_rate_percent'] / 100)

In [14]:
df

   price_euro  tax_rate_percent  price_with_tax
0         100                19           119.0
1         200                 7           214.0
2          50                19            59.5
3          80                 0            80.0

In [15]:
import pandas as pd

df = pd.DataFrame({
    "user_id": [1, 2, 1, 3, 2, 1],
    "transaction_amount": [100, 200, 50, 300, 150, 80]
})

In [16]:
df

   user_id  transaction_amount
0        1                 100
1        2                 200
2        1                  50
3        3                 300
4        2                 150
5        1                  80

In [17]:
df.groupby('user_id').agg(avg_transaction=('transaction_amount', 'mean'))

         avg_transaction
user_id
1              76.666667
2             175.000000
3             300.000000

In [18]:
import pandas as pd

df = pd.DataFrame({
    "event_id": [101, 102, 103, 104, 105],
    "event_time": [
        "2023-02-28", "2023-03-01", "2023-03-15",
        "2023-03-31", "2023-04-01"
    ]
})

In [19]:
df

   event_id  event_time
0       101  2023-02-28
1       102  2023-03-01
2       103  2023-03-15
3       104  2023-03-31
4       105  2023-04-01

In [22]:
df['event_time'] = pd.to_datetime(df['event_time'])

In [23]:
df

   event_id event_time
0       101 2023-02-28
1       102 2023-03-01
2       103 2023-03-15
3       104 2023-03-31
4       105 2023-04-01

In [ ]:
df['event_time'] = pd.to_datetime(df['event_time'])
df[df['event_time'].dt.month==3]

   event_id event_time
1       102 2023-03-01
2       103 2023-03-15
3       104 2023-03-31

import pandas as pd

df = pd.DataFrame({
    "product_id": [101, 101, 101, 102, 102, 102, 102],
    "date": [
        "2023-01-01", "2023-01-02", "2023-01-03",
        "2023-01-01", "2023-01-02", "2023-01-03", "2023-01-04"
    ],
    "units_sold": [10, 15, 20, 5, 7, 9, 11]
})

df['date'] = pd.to_datetime(df['date'])

In [34]:
import pandas as pd

df = pd.DataFrame({
    "product_id": [101, 101, 101, 102, 102, 102, 102],
    "date": [
        "2023-01-01", "2023-01-02", "2023-01-03",
        "2023-01-01", "2023-01-02", "2023-01-03", "2023-01-04"
    ],
    "units_sold": [10, 15, 20, 5, 7, 9, 11]
})

df['date'] = pd.to_datetime(df['date'])

In [36]:
df

   product_id       date  units_sold
0         101 2023-01-01          10
1         101 2023-01-02          15
2         101 2023-01-03          20
3         102 2023-01-01           5
4         102 2023-01-02           7
5         102 2023-01-03           9
6         102 2023-01-04          11

In [35]:


# Sort values (important for rolling!)
df = df.sort_values(['product_id', 'date'])

# Group by product, set date as index so rolling works
df['rolling_avg_7d'] = (
    df
    .set_index('date')                                  # step 1
    .groupby('product_id')['units_sold']                # step 2
    .rolling('7D', min_periods=1)                       # 7-day window
    .mean()
    .reset_index(level=0, drop=True)                    # cleanup
)

# Optional: reset index if needed
df = df.reset_index(drop=True)

ValueError: cannot reindex on an axis with duplicate labels

In [31]:
df['date'] = pd.to_datetime(df['date'])
df.reset_index('date')

df.groupby(['product_id', 'date']).rolling('7D', min_periods=1).mean().reset_index(level=0, drop=True)

KeyError: 'Requested level (date) does not match index name (None)'